In [1]:
import pandas as pd

import numpy as np

In [2]:
lst = [1,2,3,4,5]

In [3]:
np.array(lst)

array([1, 2, 3, 4, 5])

In [4]:
pd.Series([lst,lst,lst])

0    [1, 2, 3, 4, 5]
1    [1, 2, 3, 4, 5]
2    [1, 2, 3, 4, 5]
dtype: object

In [5]:
df = pd.DataFrame([lst,lst,lst,lst,lst,lst,lst,lst,lst], columns = ['A','B','C','D','E'])

In [7]:
df

   A  B  C  D  E
0  1  2  3  4  5
1  1  2  3  4  5
2  1  2  3  4  5
3  1  2  3  4  5
4  1  2  3  4  5
5  1  2  3  4  5
6  1  2  3  4  5
7  1  2  3  4  5
8  1  2  3  4  5

In [8]:
del df

In [9]:
df

NameError: name 'df' is not defined

In [10]:
pd.array()

TypeError: array() missing 1 required positional argument: 'data'